@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(45deg, #042940, #005C53);
    background-attachment: fixed;
}

main {
    background-color: #ffffff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 10px #423c3c63;
}

h1 {
    color: #D6D58E;
    text-align: center;
    text-shadow: 1px 2px 1px #3b2b0960;
}

h2 {
    color: #D6D58E;
}